<h2>本当に退会しますか？</h2>

<tr>
  <th>退会すると、会員登録情報や</th> </br>
  <th>これまでの購入履歴が閲覧できなくなります。</th> </br>
  <th>退会する場合は、「退会する」をクリックしてください。</th>
</tr>

<div class="field">
 <% if current_customer == @customer %>
  <th><%= link_to customer_my_page_path, class: "btn btn-outline-primary btn-block" do %>
   <i>退会しない</i>
  <% end %></th>

  <th><%= link_to withdraw_customer_path, method: :patch, class: "btn btn-outline-danger btn-block" do %>
   <i>退会する</i>
  <% end %></th>
 <% end %>
</div>
